.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 1.14;
}
.navigations-link,
.description-header,
.secend-heder,
.section-team,
.staff-name,
.hero-title,
.service-btn {
  color: #212121;
}

/*========= heder ======== */
.logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #2196f3;
}

.color-logo {
  color: #000000;
}
.navigations-link {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
}

.navigations-link:hover,
.navigations-link:focus {
  color: #2196f3;
}
.mail-phone-link {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #757575;
}

.mail-phone-link:hover,
.mail-phone-link:focus {
  color: #2196f3;
}
/* ====== HERO ====== */
.main-heading {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  /*color: #ffffff;*/
}

.services-btn {
  font-weight: 700;
  font-size: 1.14;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  /* color: #FFFFFF; */
}
.services-btn:hover,
.services-btn:focus {
  background-color: #2196f3;
  color: #ffffff;
}
.description-header {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}

.descriptions-servis {
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

.secend-heder {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.section-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.staff-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.position {
  font-size: 16px;
  line-height: 1.18;
  /* text-align: center; */
  color: #757575;
}

.hero-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.description-hero {
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}
/* ======= footer ======== */
.location {
  font-size: 14px;
  line-height: 1.71;
  /* color: #FFFFFF; */
}
.main-navigations {
  font-size: 14px;
  line-height: 1.71;
  /* color: rgba(255, 255, 255, 0.6); */
}

.service-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
}

.service-btn:hover,
.service-btn:focus {
  background-color: #2196f3;
  color: #ffffff;
}
